In [1]:
import pandas as pd

In [2]:
user_id = ['1', '4', '6', '1', '2', '8', '10', '1']
created_at = ['2019-01-03', '2019-01-03', '2019-01-03', '2019-01-03', '2019-01-04', '2019-01-04', '2019-01-04', '2019-01-04']

plays = pd.DataFrame({'user_id': user_id, 'created_at': created_at})

plays.tail()

  user_id  created_at
3       1  2019-01-03
4       2  2019-01-04
5       8  2019-01-04
6      10  2019-01-04
7       1  2019-01-04

In [3]:
dau = plays.groupby(['created_at'], as_index=False).agg({'user_id': pd.Series.nunique})
dau = dau.rename(index=str, columns={'created_at': 'date', 'user_id': 'dau'})

dau

         date  dau
0  2019-01-03    3
1  2019-01-04    4

In [5]:
dau = plays.groupby(['created_at'], as_index=False).agg({'user_id': 'count'})
dau = dau.rename(index=str, columns={'created_at': 'date', 'user_id': 'dau'})

dau

         date  dau
0  2019-01-03    4
1  2019-01-04    4